---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->

<head>
    {% include head.html %}
</head>

<body>
    <div class="video-wrapper">
        <video id="bg-video" playsinline autoplay muted loop poster="https://raw.githubusercontent.com/lance-salvador888/lance-salvador888.github.io/master/assets/img/night%20skydome.png">
            <source src="https://github.com/user-attachments/assets/9c4e5bf1-4e44-4e71-9b75-41ef7f2b538d" type="video/mp4">
            Your browser does not support the video tag.
        </video>   
    </div>
    <script>
        $('video').on('ended', function () {
            this.load();
            this.play();
          });
    </script>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <h4>{{ page.date | date_to_string }}</h4>
                    {% if site.reading_time %}
                    <p class="reading-time">
                        <i class="fa fa-clock-o"></i>
                        {% include read-time.html %}
                    </p><!-- /.entry-reading-time -->
                    {% endif %}
                    {% if page.project %}
                    <a class="btn zoombtn" href="{{site.url}}/">
                        {% else %}
                        <a class="btn zoombtn" href="{{site.url}}/posts/">
                            {% endif %}
                            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                        </a>
                </div>
                {{ content }}
                <div class="entry-meta">
                    {% include meta.html %}
                </div>
            </div>
        </div>
        
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
    
</body>

</html>